.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.number {
  font-size: 3rem;
  font-weight: 500;
  color: #00416b;
  margin: 3rem 0;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
